@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap');
@import url('reset.css');

:root {
    /* SYSTEM FONTS */
    --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';

    /* COLORS */
    --white: #e6e6e6;
    --gray: #d5d5d5;
    --yellow-lt: #eed9c3;
    --yellow: #e3b261;
    --green: #a78347;
    --green-dk: #353535;
    --blue: #111827;

    --blue-tr: #111827dd;
    --white-tr: #ffffff44;
    --hightlight-off: #ffffff00;
    --hightlight-on: #ffffff88;

    /* SIZING */
    --sidebar-w: 320px;
    --icons-w: 95px;
}

body {
    background-color: var(--blue);
    font-family: 'Roboto Slab';
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--yellow);
}

a:hover {
    color: var(--yellow-lt);
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: red; */
}

.date {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding-right: 108px;
}

.weather {
    z-index: 100;
    position: absolute;
    top: 100px;
    right: 60px;
    bottom: 100px;
    color: var(--yellow-lt);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.main {
    display: flex;
    flex: 1;
    gap: 16px;
    justify-content: right;
}

.main .temp {
    font-size: 8rem;
    font-weight: 100;
    margin-right: 0px;
}

.main .icon {
    width: var(--icons-w);
    height: 200px;
    margin-top: 16px;
    text-align: left;
    font-size: 3rem;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main .icon img {
    width: 64px;
    height: 64px;
}

.main .icons:hover {
    color: var(--yellow);
    cursor: pointer;
}

.city {
    margin-top: 32px;
}

.main .name {
    font-size: 3rem;
    font-weight: 400;
}

.cities .city {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
}

.cities .icon {
    /* background: blue; */
    width: var(--icons-w);
    height: 55px;
    font-size: 1.4rem;
    font-weight: 100;
    /* margin-top: 12px; */
    text-align: left;
}

.name {
    color: var(--yellow);
    font-size: 1.8rem;
    font-weight: 400;
    margin: 12px 0;
}

.details {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

footer {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
    display: flex;
    flex: 1;
    align-items: center;
    position: sticky;
    top: 100vh;
    padding: 16px 32px;
}

footer img {
    margin: 0 8px;
}
